services:
  redis:
    image: redis:7-alpine
    container_name: redis
    ports:
      - "6379:6379"

  user-service:
    build: ./user-service
    container_name: user-service
    ports:
      - "5500:5500"
    environment:
      PORT: 5500
      DB_URL: mongodb+srv://petConnet:Password%40123@cluster0.xe94bts.mongodb.net/?appName=Cluster0
      JWT_SECRET: SECRET
    volumes:
      - ./user-service:/app
    command: ["npx", "nodemon", "--legacy-watch", "index.js"]

  business-service:
    build: ./business-service
    container_name: business-service
    ports:
      - "5501:5501"
    environment:
      PORT: 5501
      DB_URL: mongodb+srv://petConnet:Password%40123@cluster0.xe94bts.mongodb.net/?appName=Cluster0
      JWT_SECRET: SECRET
    volumes:
      - ./business-service:/app
    command: ["npx", "nodemon", "--legacy-watch", "index.js"]

  pet-service:
    build: ./pet-service
    container_name: pet-service
    ports:
      - "5502:5502"
    environment:
      PORT: 5502
      DB_URL: mongodb+srv://petConnet:Password%40123@cluster0.xe94bts.mongodb.net/?appName=Cluster0
      REDIS_URL: redis://redis:6379
      CLOUDINARY_CLOUD_NAME: dnsijcpng
      CLOUDINARY_API_KEY: 764798892284885
      CLOUDINARY_API_SECRET: Ffqi4kyPjcyZH7pKuvkOmjmwYWw
      USER_SERVICE_URL: http://user-service:5500/api/user
      BUSINESS_SERVICE_URL: http://business-service:5501/api/business
    volumes:
      - ./pet-service:/app
    command: ["npx", "nodemon", "--legacy-watch", "index.js"]
    depends_on:
      - redis
      - user-service
      - business-service

  notification-service:
    build: ./notification-service
    container_name: notification-service
    ports:
      - "5505:5505"
    environment:
      PORT: 5505
      DB_URL: mongodb+srv://petConnet:Password%40123@cluster0.xe94bts.mongodb.net/?appName=Cluster0
      EMAIL_USER: adhikarisneha0001@gmail.com
      EMAIL_PASS: koqycslmnunmthqn
      JWT_SECRET: SECRET
      CLOUDINARY_CLOUD_NAME: dnsijcpng
      CLOUDINARY_API_KEY: 764798892284885
      CLOUDINARY_API_SECRET: Ffqi4kyPjcyZH7pKuvkOmjmwYWw
      USER_SERVICE_URL: http://user-service:5500/api/user
      BUSINESS_SERVICE_URL: http://business-service:5501/api/business
      PET_SERVICE_URL: http://pet-service:5502/api/pets
      PAYMENT_SERVICE_URL: http://payment-service:5504/api/payment
    volumes:
      - ./notification-service:/app
    command: ["npx", "nodemon", "--legacy-watch", "index.js"]
    depends_on:
      - user-service
      - business-service
      - pet-service

  adoption-service:
    build: ./adoption-service
    container_name: adoption-service
    ports:
      - "5503:5503"
    environment:
      PORT: 5503
      DB_URL: mongodb+srv://petConnet:Password%40123@cluster0.xe94bts.mongodb.net/?appName=Cluster0
      EMAIL_USER: adhikarisneha0001@gmail.com
      EMAIL_PASS: koqycslmnunmthqn
      JWT_SECRET: SECRET
      USER_SERVICE_URL: http://user-service:5500/api/user
      BUSINESS_SERVICE_URL: http://business-service:5501/api/business
      PET_SERVICE_URL: http://pet-service:5502/api/pets
      NOTIFICATION_SERVICE_URL: http://notification-service:5505/api/notifications
    volumes:
      - ./adoption-service:/app
    command: ["npx", "nodemon", "--legacy-watch", "index.js"]
    depends_on:
      - user-service
      - business-service
      - pet-service
      - notification-service

  payment-service:
    build: ./payment-service
    container_name: payment-service
    ports:
      - "5504:5504"
    environment:
      PORT: 5504
      DB_URL: mongodb+srv://petConnet:Password%40123@cluster0.xe94bts.mongodb.net/paymentdb
      JWT_SECRET: SECRET
      EMAIL_USER: adhikarisneha0001@gmail.com
      EMAIL_PASS: koqycslmnunmthqn
      CLOUDINARY_CLOUD_NAME: dnsijcpng
      CLOUDINARY_API_KEY: 764798892284885
      CLOUDINARY_API_SECRET: Ffqi4kyPjcyZH7pKuvkOmjmwYWw
      KHALTI_SECRET_KEY: test_secret_key_2abffc2f5fac45c981affa111407efd5
      KHALTI_INIT_URL: https://a.khalti.com/api/v2/epayment/initiate/
      KHALTI_VERIFY_URL: https://a.khalti.com/api/v2/epayment/lookup/
      REDIS_URL: redis://redis:6379
      USER_SERVICE_URL: http://user-service:5500/api/user
      BUSINESS_SERVICE_URL: http://business-service:5501/api/business
      PET_SERVICE_URL: http://pet-service:5502/api/pets
      ADOPTION_SERVICE_URL: http://adoption-service:5503/api/adoption
      NOTIFICATION_SERVICE_URL: http://notification-service:5505/api/notifications
    volumes:
      - ./payment-service:/app
    command: ["npx", "nodemon", "--legacy-watch", "index.js"]
    depends_on:
      - redis

  admin-service:
    build: ./admin-service
    container_name: admin-service
    ports:
      - "5510:5510"
    environment:
      PORT: 5510
      DB_URL: mongodb+srv://petConnet:Password%40123@cluster0.xe94bts.mongodb.net/?appName=Cluster0
      JWT_SECRET: SECRET
      USER_SERVICE_URL: http://user-service:5500/api/user
      BUSINESS_SERVICE_URL: http://business-service:5501/api/business
      PET_SERVICE_URL: http://pet-service:5502/api/pets
      ADOPTION_SERVICE_URL: http://adoption-service:5503/api/adoption
      NOTIFICATION_SERVICE_URL: http://notification-service:5505/api/notifications
      PAYMENT_SERVICE_URL: http://payment-service:5504/api/payment
    volumes:
      - ./admin-service:/app
    command: ["npx", "nodemon", "--legacy-watch", "index.js"]
    depends_on:
      - user-service
      - business-service
      - pet-service
      - adoption-service
      - notification-service
      - payment-service
