version: "3.8"

services:
  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

  user-service:
    build: ./user-service
    env_file:
      - ./.env
    ports:
      - "${PORT_USER}:${PORT_USER}"
    volumes:
      - ./user-service:/app
      - /app/node_modules
    command: ["npx", "nodemon", "--legacy-watch", "index.js"]
    depends_on:
      - redis

  business-service:
    build: ./business-service
    env_file:
      - ./.env
    ports:
      - "${PORT_BUSINESS}:${PORT_BUSINESS}"
    volumes:
      - ./business-service:/app
      - /app/node_modules
    command: ["npx", "nodemon", "--legacy-watch", "index.js"]
    depends_on:
      - redis
      - user-service

  pet-service:
    build: ./pet-service
    env_file:
      - ./.env
    ports:
      - "${PORT_PET}:${PORT_PET}"
    volumes:
      - ./pet-service:/app
      - /app/node_modules
    command: ["npx", "nodemon", "--legacy-watch", "index.js"]
    depends_on:
      - redis
      - business-service

  adoption-service:
    build: ./adoption-service
    env_file:
      - ./.env
    ports:
      - "${PORT_ADOPTION}:${PORT_ADOPTION}"
    volumes:
      - ./adoption-service:/app
      - /app/node_modules
    command: ["npx", "nodemon", "--legacy-watch", "index.js"]
    depends_on:
      - redis
      - pet-service
      - user-service
