version: "3.8"

services:
  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

  user-service:
    build: ./user-service
    ports:
      - "5500:5500"
    environment:
      - MONGO_URI=mongodb+srv://adhikarisneha0001:PaRFqCfBsToAlIh@cluster0.avtijip.mongodb.net/
      - REDIS_URL=redis://redis:6379
    volumes:
      - ./user-service:/app
    command: ["npx", "nodemon", "--legacy-watch", "index.js"]
    depends_on:
      - redis

  business-service:
    build: ./business-service
    ports:
      - "5501:5501"
    environment:
      - MONGO_URI=mongodb+srv://adhikarisneha0001:PaRFqCfBsToAlIh@cluster0.avtijip.mongodb.net/
      - REDIS_URL=redis://redis:6379
      - USER_SERVICE_URL=http://user-service:5500/api/user
    volumes:
      - ./business-service:/app
    command: ["npx", "nodemon", "--legacy-watch", "index.js"]
    depends_on:
      - redis
      - user-service 

  pet-service:
    build: ./pet-service
    ports:
      - "5502:5502"
    environment:
      - MONGO_URI=mongodb+srv://adhikarisneha0001:PaRFqCfBsToAlIh@cluster0.avtijip.mongodb.net/
      - REDIS_URL=redis://redis:6379
      - BUSINESS_SERVICE_URL=http://business-service:5501/api/business
    volumes:
      - ./pet-service:/app
    command: ["npx", "nodemon", "--legacy-watch", "index.js"]
    depends_on:
      - redis
      - business-service

  adoption-service:
    build: ./adoption-service
    ports:
      - "5503:5503"
    environment:
      - MONGO_URI=mongodb+srv://adhikarisneha0001:PaRFqCfBsToAlIh@cluster0.avtijip.mongodb.net/
      - REDIS_URL=redis://redis:6379
      - PET_SERVICE_URL=http://pet-service:5502/api/pets
      - USER_SERVICE_URL=http://user-service:5500/api/user
    volumes:
      - ./adoption-service:/app
    command: ["npx", "nodemon", "--legacy-watch", "index.js"]
    depends_on:
      - redis
      - pet-service
      - user-service